<!DOCTYPE html>
<html lang="ro">
<head>
    <meta name="description" content="Pc Mirage- Produse">
    <meta name="keywords" content="cofetarie, Dulcelind, prajituri, torturi, dulce, pateuri, produse">
    <link rel="stylesheet" href="/resurse/css/produse.css" type="text/css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Pc Mirage- Produse</title>
    <%- include("../fragmente/head") %>
    <script type="text/javascript" src="/resurse/js/produse.js"></script>
    <script type="text/javascript" src="/resurse/js/produse-cos.js"></script>
</head>
<body>
<%- include("../fragmente/header") %>

<main>
    <datalist id="datalist-memorie" class="dropdown-menu">
        <option class="dropdown-item" value="toate"></option>
        <% for (let opt of locals.memorie) { %>
            <option class="dropdown-item" value="<%- opt.unnest %>"><%- opt.unnest %> </option>
        <% } %>
    </datalist>

    <div class="container mt-4">
        <button class="btn btn-primary mb-3" type="button" data-toggle="collapse" data-target="#filterMenu" aria-expanded="false" aria-controls="filterMenu">
            Toggle Filters
        </button>
        <div class="collapse" id="filterMenu">
            <div class="card bg-dark text-white card-body">
                <div class="row mb-3">
                    <div class="col-md-4 mb-3">
                        <label class="form-label">Nume:</label>
                        <input type="text" id="inp-nume" class="form-control">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="form-label">Pret minim:</label>
                        <input class="form-range" type="range" id="inp-pret" value="0" min="0" max="4000">
                        <span id="infoRange">(0)</span>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="form-label">Tip Memorie:</label>
                        <input class="form-control" list="datalist-memorie" id="datalist-memorie-choice" name="datalist-memorie-choice"/>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-4 mb-3">
                        <label class="form-label">Frecventa:</label>
                        <div class="form-check">
                            <input class="form-check-input" id="i_rad1" name="gr_rad" value="0:2500" type="radio"/>
                            <label class="form-check-label" for="i_rad1">Slab (Frecventa &lt; 2500)</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" id="i_rad2" name="gr_rad" value="2500:4000" type="radio"/>
                            <label class="form-check-label" for="i_rad2">Mediu (2500 &le; Frecventa &lt; 4000)</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" id="i_rad3" name="gr_rad" value="4000:1000000000" type="radio"/>
                            <label class="form-check-label" for="i_rad3">Frecventa Mare (4000 &le; Frecventa)</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" id="i_rad4" name="gr_rad" value="toate" type="radio" checked/>
                            <label class="form-check-label" for="i_rad4">Toate</label>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="form-label">Promotie:</label>
                        <div class="form-check">
                            <input id="b_rad1" class="form-check-input" name="bool_rad" value="true" type="radio"/>
                            <label class="form-check-label" for="b_rad1">Da</label>
                        </div>
                        <div class="form-check">
                            <input id="b_rad2" class="form-check-input" name="bool_rad" value="false" type="radio"/>
                            <label class="form-check-label" for="b_rad2">Nu</label>
                        </div>
                        <div class="form-check">
                            <input id="b_rad3" class="form-check-input" name="bool_rad" value="toate" type="radio" checked/>
                            <label class="form-check-label" for="b_rad3">Toate</label>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="inp-descriere" class="form-label">Descriere:</label>
                        <textarea class="form-control" rows="4" cols="50" placeholder="Leave a comment here" id="inp-descriere"></textarea>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6 mb-3">
                        <label for="inp-data" class="form-label">Producatorul:</label>
                        <select id="inp-data" multiple class="form-select">
                            <option value="1" selected>AMD</option>
                            <option value="2" selected>Intel</option>
                        </select>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="inp-categorie" class="form-label">Categorie:</label>
                        <select id="inp-categorie" class="form-select">
                            <option id="sel-toate" selected value="toate">toate</option>
                            <% for (let opt of locals.optiuni) { %>
                                <option value="<%- opt.unnest %>"><%- opt.unnest %></option>
                            <% } %>
                        </select>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-md-3 mb-2">
                        <button class="btn btn-primary w-100" id="filtrare">Filtreaza</button>
                    </div>
                    <div class="col-md-3 mb-2">
                        <button class="btn btn-secondary w-100" id="resetare">Reseteaza</button>
                    </div>
                    <div class="col-md-3 mb-2">
                        <button class="btn btn-primary w-100" id="sortCrescNume">Sorteaza crescator dupa pret si nume</button>
                    </div>
                    <div class="col-md-3 mb-2">
                        <button class="btn btn-primary w-100" id="sortDescrescNume">Sorteaza descrescator dupa pret si nume</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p id="p-suma">Apăsați Alt+"c" pentru suma preturilor produselor afișate. </p>
    <section id="produse">
        <h2>Produse</h2>
        <div class="grid-produse">
            <% for( let prod of locals.produse) { %>
                <div class="card bg-dark text-white produs">
                    <h3 class="nume"><a href="/produs/<%-prod.id %>"><span class="val-nume"><%- prod.nume%></span></a></h3>
                    <a class="poza-produs" href="/produs/<%-prod.id %>"><img src="/resurse/imagini/produse/<%- prod.imagine %>" class="card-img" alt="[imagine <%- prod.nume %>]"/></a>
                    <div class="card-body">
                        <p class="pret">Pret: <span class="val-pret"><%- prod.pret%></span></p>
                        <p class="socket">Compatibilitate <span class="val-comp"><%- prod.compatibilitate%></span></p>
                        <p class="frecventa">Frecventa: <span class="val-frecventa"><%- prod.frecventa%></span> Mhz</p>
                        <p class="categorie">Categorie:<span class="val-categorie"><%- prod.tipuri_produs%></span></p>
                        <p class="Promotie">Promotie:<span class="val-promotie"><%- prod.promotie%></span></p>
                        <p>Tip memorie: <span class="tipuri_memorie"><%- prod.tipuri_memorie %></span></p>
                        <p class="descriere">Descriere:<span class="val-descriere"><%- prod.descriere%></span></p>
                    </div>
                    <a href="#" class="btn btn-primary">Adauga in cos</a>
                    <label class="selecteaza-cos">
                        Selectează:<br/>
                        <input type="checkbox" class="select-cos" value="<%-prod.id %>" autocomplete="off">
                    </label>
                </div>
            <% } %>
        </div>
    </section>
</main>

<%- include("../fragmente/footer") %>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>

